/* font import from googles as prescribed by the designer */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* reset css for the whole page */
html,
body,
p,
a,
ul,
li,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  font-family: 'Lato', sans-serif, cursive;
}

