/* font import from googles as prescribed by the designer */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset css for the whole page */
html,
body,
p,
a,
ul,
li,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  font-family: "IBM Plex Serif", Arial, Helvetica, sans-serif;
}

